.cart-list {
  position: absolute;
  right: 0;
  top: 130%;
  z-index: 1000;
  background-color: white;
  color: black;
  padding: 15px 20px;
  min-width: 30vw;
}
.cart-list .cart-item-container {
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 30vw;
  max-width: 80vw;
  max-height: 60vh;
  margin-bottom: 20px;
}

.cart-list .cart-bottom {
  border-top: 1px solid black;
  padding: 10px 0;
}
.cart-list .total-cart-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
}
.cart-list .check-cart {
  display: flex;
  gap: 10px;
}
.cart-list .check-cart a {
  flex: 1;
  text-align: center;
  border: 1px solid black;
  padding: 10px 5px;
  text-transform: uppercase;
  background-color: white;
  color: black;
  display: block;
  transition: 0.15s;
}

.cart-list .check-cart a:hover {
  color: white;
  background-color: black;
}
/* width */
.cart-list .cart-item-container::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.cart-list .cart-item-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.cart-list .cart-item-container::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.cart-list .cart-item-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
